*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  .canv
{
  position: fixed;
  width: 100vw;
  height: 100vh;
 }
 .container {
   position: absolute;
   width: 100%;
 }

 .wrap {
   max-width: 1200px;
   margin: 0 auto;
 }