@media (min-width: 1250px) {
  .title {
    font-size: 62px;
    margin-top: 50px;
  }
  .menu {
    margin-top: -25px;
    a {
      font-size: 31px;
    }
  }
  .item {
    font-size: 31px;
  }
  .my-work__title {
    font-size: 50px;
  }
  .my-work__sub-title {
    font-size: 37px;
  }
}
