@media (min-width: 1250px) {
  .title {
    font-size: 62px;
    margin-top: 50px;
  }
   .menu {
    margin-top: -25px;
    a {
      font-size: 30px;
    }
  } 
  .item {
    font-size: 31px;
  }
  .my-work__title {
    font-size: 50px;
  }
  .my-work__sub-title {
    font-size: 37px;
  }
}
 @media (max-width: 640px) {
  .menu {
    justify-content: space-between;
    a {
      font-size: 20px;
    }
  } 
  .title {
    font-size: 230%;
  }
  .item {
    font-size: 112%;
  }
  .my-works__sub-title {
    font-size: 200%;
    padding: 0;
  }
  .my-works__title {
    font-size: 187%;
  }

} 
@media (max-width: 410px){
  .feedback {
    width: 100%;
  }
}